* {
	font-family: arial;
}

div#controls {
}

div#library {
	clear: both;
	font-size: 11px;
}
	
	div#library input {
		line-height: 18px;
		font-size: 14px;
		width: 100%;
	}
	
	div#library ul {
		list-style: none;
		padding: 0;
		margin:  0;
	}
	
		div#library li {
			padding: 5px 5px;
			margin: 0;
			border-bottom: 1px solid #DDDDDD;
			cursor: pointer;
		}
		
		div#library li:hover {
			background-color: #DDDDDD;
		}
	
div#info {
	margin-top: -60px;
	height: 60px;
}

	div#info h2, h3 {
		text-align: center;
		margin: 0;
	}
		
div#visualization {
	height: 75px;
}

/******************
 * jQuery UI mods
 ******************/
.ui-progressbar {
	height: 25px;
}