* {
	font-family: arial;
}

div#controls {
}

div#library {
	clear: both;
	font-size: 11px;
}
		
	div#library table {
		width: 100%;
	}
	
		div#library tr:hover {
			cursor: pointer;
		}
			
			div#library td {
				padding: 1px 2px;
			}
	
div#info {
	margin-top: -60px;
	height: 60px;
}

	div#info h2, h3 {
		text-align: center;
		margin: 0;
	}
		
div#visualization {
	height: 75px;
}

/******************
 * jQuery UI mods
 ******************/
.ui-progressbar {
	height: 25px;
}